# Node.js dependencies
node_modules/*
www/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-error.log*

# Vue & Vite build output
#dist/
.vite/
.vitepress/cache/

# Editor & IDE settings
.vscode/
.idea/
*.swp
*.swo

# Environment & local config files
.env
.env.local
.env.*.local

# Logs
logs
*.log
yarn-error.log
pnpm-debug.log
pnpm-error.log

# Git merge conflict files
*.orig

# MacOS & Linux system files
.DS_Store
Thumbs.db