@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

:root {
    --text-color: white;
    --highlight-color: #da2a48;
    --highlight-hover: #b1213a;
}


/* ******* Main Theme ******* */

.main-theme {
    background-color: #1e1e1e;
    min-height: 100vh;
    position: relative;
    color: var(--text-color);
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

*::selection {
    background: var(--highlight-color);
    color: white;
}


/*  ******* Common *******  */
.project-img {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.project-img:hover {
    transform: scale(1.05);
}

.project-glass-list {
    list-style: none;
    padding: 0;
    max-width: 25rem;
    margin: 1.3rem auto;
    backdrop-filter: blur(.6rem);
    overflow: hidden;
}

.project-glass-list li {
    background: rgba(255, 255, 255, 0.1);
    padding: 1.2rem;
    margin: .3rem 1rem .3rem 0;
    border-radius: .4rem;
    color: white;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.project-glass-list li:hover {
    background: rgba(0, 255, 255, 0.3);
    transform: translateX(10px);
}

.web-projects-page .list-group-item {
    border: 2px solid rgba(255, 255, 255, 0.5) !important;
    border-radius: 10px !important;
    padding: 15px;
}

.web-projects-page .tech-section {
    margin-top: 5rem;
}

.list-group-index {
    color: cyan;
    font-weight: bold;
    margin-right: 10px;
}

/* Code block */

.code-block {
    width: 75%;
    display: block;
    background-color: rgba(255, 0, 100, 0.1);
    color: #fb85a6;
    border-radius: 8px;
    font-size: 14px;
    line-height: 1.5;
    overflow-x: auto;
    white-space: pre-wrap;
    margin: 20px auto;
    padding: 15px;
    border-left: 3px solid var(--highlight-color);
    box-shadow: 0 0 10px rgba(255, 0, 100, 0.3);
    font-family: monospace;
}

.code-block .keyword {
    color: #ff165d;
    font-weight: bold;
}

.code-block .selector {
    color: #b4f4ff;
}

.code-block .comment {
    color: #6affb5;
    font-style: italic;
}


/* ******* Home Page ******* */

.profile-pic {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border: 5px solid var(--highlight-color);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.profile-pic:hover {
    transform: scale(1.05);
}

.custom-button {
    width: 12rem;
    transition: 0.5s !important;
    display: inline-block;
    position: relative;
    background-color: var(--highlight-color) !important;
}

.custom-button:after {
    content: '»';
    position: absolute;
    opacity: 0;
    right: 5px;
    transition: 0.5s;
}

.custom-button:hover{
    padding-right: 1rem;
    padding-left: .25rem;
    background-color: var(--highlight-hover) !important;
}

.custom-button:hover:after {
    opacity: 1;
    right: 0.6rem;
}

.home-page {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/media/imgs/home-background.jpg') ;
    display: flex;
}

.home-page .container-fluid {
    margin-top: 6rem;
}

.home-page h1 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2rem;
    font-size: 3.5rem;
    background: linear-gradient(to right, #ff5f5f, #c5ccfd);
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-out;
}

.home-page p {
    text-align: justify;
    line-height: 1.6;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ******* Navbar ******* */
/* Active Link Styles */
.navbar-nav .nav-item .router-link-exact-active,
.navbar-nav .nav-item .router-link-active {
    color: var(--highlight-color) !important;
    font-weight: bold;
}

.custom-navbar-bg {
    background-color: #00040e !important;
}

/* Localization */
.flag-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

/* ******* Footer ******* */
.custom-footer {
    border-top: 2px solid var(--highlight-color);
}


/* ***** Skill icon ***** */

.skill-wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
}

.skill-icon {
    position: relative;
    display: inline-block;
    width: 5rem;
    height: 5rem;
    text-align: center;
    margin: 1rem 0 1rem 0;
    transition: transform 0.3s ease;
}

.skill-icon:hover {
    transform: scale(1.2);
}

.skill-icon .icon {
    width: 65%;
    height: 65%;
}

.skill-info-card {
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%) scale(0.8);
    background: rgba(0, 0, 0, 0.8);
    color: var(--text-color);
    padding: 0.6rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    word-wrap: break-word;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.skill-icon:hover .skill-info-card,
.skill-icon .skill-info-card.show {
    opacity: 1;
    visibility: visible;
}


/* ******* Web Development  ******* */

.web-development-page .skill-wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/media/imgs/web-skill-background.jpg'), center, no-repeat;
    background-size: cover;
}

.web-development-page .custom-button {
    width: 15rem;
}

.web-development-page h1 {
    font-weight: bold;
    letter-spacing: 0.2rem;
    font-size: 3.5rem;
    background: linear-gradient(to right, #ff5f5f, #8e94ff);
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-out;
}

.web-card-text {
    /*background: linear-gradient(to right, #ff5f5f, #8e94ff);*/
    background: linear-gradient(to right, #34575a, #614c4c);
    padding: 0 .5rem 0 .5rem;
    border-radius: 0.5rem;
}

.web-development-page .web-project-wrapper {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/media/imgs/web_projects_background.jpg'), center, no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Web other skill cards */
.web-other-skills .skill-card {
    background-color: rgba(115, 154, 156, 0.2) !important;
    color: #ffffff !important;
}

.web-other-skills .skill-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgb(26, 37, 43);
}

.web-other-skills .card-text li {
    color: #ddf9ff !important;
}


/* Web Project Cards */
.web-project-card {
    text-decoration: none;
}

.web-card {
    height: 10rem !important;
    border: 1px solid #00bcd4 !important;
    background: rgba(0, 188, 212, 0.15) !important;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 15px rgba(0, 188, 212, 0.3);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.web-card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(0, 188, 212, 0.5);
}

.web-card-img {
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.web-card-body {
    color: var(--text-color);
    padding: 1.2rem;
    flex: 1;
}

.web-projects-header {
    background: linear-gradient(to right, #3c1a1a, #192731);
}

.web-projects-header .scrolling-text {
    color: #ffe6e6;
    text-shadow: 0 0 5px #801c2b, 0 0 10px #711720, 0 0 10px #6e0b2a;
}


/* Web Projects Pages */

.web-projects-page .header {
    text-align: center;
    padding: 4rem;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/media/imgs/web_projects_header.jpg");
    color: white;
}

.web-projects-page .project-content-wrapper {
    width: 100%;
    background-image: linear-gradient(to right top, #0f1323, #130d1b, #120812, #0c0408, #000000);    justify-content: center;
    align-items: center;
}

.web-projects-page .development-process-text {
    text-align: justify;
}

.web-projects-page .toOutsideLink {
    color: var(--highlight-color);
}

.web-projects-page .toOutsideLink:hover {
    color: var(--highlight-hover);
}



/* ***** Game Development ***** */

.game-development-page .skill-wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/media/imgs/joel-filipe-99neAF8kqhg-unsplash.jpg'), center, no-repeat;
    /*background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('/media/imgs/pawel-czerwinski-1QAXTrmx5rU-unsplash.jpg'), center, no-repeat;*/
    background-size: cover;
}

.game-development-page h1 {
    font-weight: bold;
    letter-spacing: 0.2rem;
    font-size: 3.5rem;
    /*background: linear-gradient(to right, #c3e9ff, #ffa2ff);*/
    background: linear-gradient(to right, #bbd8fd, #c17382);
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-out;
}

.game-card-text {
    background: linear-gradient(to right, #400c67, #d84242);
    padding: 0 .5rem 0 .5rem;
    border-radius: 0.5rem;
}

.game-development-page .game-project-wrapper {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/media/imgs/jr-korpa-SFT9G3pAxLY-unsplash.jpg'), center, no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Game other skill cards */

.game-other-skills .skill-card {
    background-color: rgba(166, 131, 138, 0.2) !important;
    color: #ffffff !important;
}

.game-other-skills .skill-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgb(27, 6, 6);
}

.game-other-skills .card-text li {
    color: #ffdbe6 !important;
}


/* Game Project Cards */
.game-project-card {
    text-decoration: none;
}

.game-card {
    height: 10rem !important;
    border: 1px solid #00bcd4 !important;
    background: rgba(0, 188, 212, 0.15) !important;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 15px rgba(0, 188, 212, 0.3);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.game-card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(0, 188, 212, 0.5);
}

.game-card-img {
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.game-card-body {
    color: var(--text-color);
    padding: 1.2rem;
    flex: 1;
}

.game-projects-header {
    background: linear-gradient(to right, #2b1212, #1b1d37) !important;
}

.game-projects-header .scrolling-text {
    color: var(--highlight-color) !important;
    text-shadow: 0 0 5px #801c2b, 0 0 10px #711720, 0 0 10px #6e0b2a !important;
}


/* *** Projects header - Scrolling text *** */

.projects-header {
    width: 100vw;
    padding: 1rem 0;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background: linear-gradient(to right, #3c1a1a, #192731);
}

.projects-overflow {
    overflow: hidden;
}

.scrolling-text {
    display: flex;
    font-size: 2.3rem;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    color: #ffe6e6;
    text-shadow: 0 0 5px #801c2b, 0 0 10px #711720, 0 0 10px #6e0b2a;
    animation: scrollText 12s linear infinite;
}

@keyframes scrollText {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}



/* Other skill cards */
.other-skills .skill-card {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    border: none;
    border-radius: 8px;
    color: #ddd;
    text-align: center;
    transition: all 0.3s ease-in-out;
}


.other-skills .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.other-skills .card-text {
    text-align: left;
    padding-left: 0;
}

.other-skills .card-text li {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 0.9rem;
    color: #bbb;
}


/* ******* About Page  ******* */

.about-page .about-wrapper {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/media/imgs/pawel-czerwinski-FCDsvEozIN4-unsplash.jpg'), center, no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-page a {
    color: #ff9393;
}

.about-page a:hover {
    color: #ff547d;
}

.about-page .introduction,
.about-page .motivation,
.about-page .future-goals {
    text-align: justify;
}

.about-page h1 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2rem;
    font-size: 3.5rem;
    background: linear-gradient(to right, #fdc3ff, #1726d1);
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-out;
}

.about-page .date-of-birth,
.about-page .personality,
.about-page .location  {
    color: #c9bbef;
}

.about-page .profile-picture {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.about-page .profile-picture:hover {
    transform: scale(1.05);
}

.about-page .profile-info {
    background-color: rgba(122, 145, 152, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    transition: all 0.3s ease-in-out;
}

.about-page .profile-info:hover {
    transform: scale(1.03);
}


/* About page, experience section cards */

.experience-section .container {
    max-width: 800px;
}

.experience-section .card {
    background-color: rgba(119, 161, 170, 0.2) !important;
    backdrop-filter: blur(2px);
    border-left: 5px solid var(--highlight-color) !important;
    border-radius: 8px;
    color: #ddd;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.experience-section h5 {
    color: #c9bbef;
}

.experience-section h6 {
    color: #94b0b6;
}

.experience-section .card:hover {
    background-color: rgba(251, 248, 255, 0.1) !important;
}


/* Social media icons */

.social-media-icon {
    position: relative;
    display: inline-block;
    width: 5rem;
    height: 5rem;
    text-align: center;
    margin: 1rem 0 1rem 0;
    transition: transform 0.3s ease;
}

.social-media-icon:hover {
    transform: scale(1.2) !important;
}

.social-media-icon .icon {
    width: 65%;
    height: 65%;
}

.social-media-card {
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%) scale(0.8);
    background: rgba(0, 0, 0, 0.8);
    color: var(--text-color);
    padding: 0.6rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    word-wrap: break-word;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.social-media-icon:hover .social-media-card {
    opacity: 1;
    visibility: visible;
}


/* ******* Not Found Page - 404  ******* */

.not-found-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/media/imgs/pawel-czerwinski-VWVO0g9A3rg-unsplash.jpg");
}

.not-found-text h1, .not-found-text p {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    background: linear-gradient(to right, #f37575, #a4a7f6);
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-out;
}

.not-found-page .custom-button {
    animation: fadeIn 1s ease-out;
}

.not-found-text h1 {
    font-size: 10rem;
}

.not-found-text p {
    font-size: 2rem;
}

